<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Vue.js App</title>
    <link rel="stylesheet" href="./main.css">
</head>
<body>
    <div id ="app">
        <label v-for="label in options">
            <!-- v-modelでテキストフォームの入力値とmessageプロパティをバインディングさせる -->
            <!-- フォームの文字を編集すると画面のメッセージも変更される -->
            <!-- currentの初期値は-1（すべて） -->
            <!-- ラジオボタンが変更されると、その要素のlavel.valueがcurrentプロパティに代入される-->
            <input type="radio"
                   v-model="current"
                   v-bind:value="label.value">{{ label.label }}
        </label>
        <table>
            <thread>
                <tr>
                    <th class="id">ID</th>
                    <th class="comment">コメント</th>
                    <th class="state">状態</th>
                    <th class="button">-</th>
                </tr>
            </thread>
            <tbody>
                <tr v-for="item in computedTodos" v-bind:key="item.id">
                    <th>{{ item.id}}</th>
                    <th>{{ item.comment}}</th>
                    <td class="state">
                        <button v-on:click="doChangeState(item)">
                            {{ labels[item.state] }}
                        </button>
                    </td>
                    <td class="button">
                        <button v-on:click="doRemove(item)">削除</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <h2>新しい作業の追加</h2>
        <form class="add-form" v-on:submit.prevent="doAdd">
            <!-- ref属性で名前を付けると、Vueインスタンスから参照できる -->
            コメント <input type="text" ref="comment">
            <button type="submit">追加</button>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="main.js"></script>
</body>
</html>
