<!DOCTYPE html>
<html>
<head>
    <title>My first Vue app</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
</head>
<body>
<div id="app">
    <!--レンダリング-->
    <!--appで指定したmessageを表示する-->
    <!--データとDOMが関連づけられ、リアクティブになっている-->
    {{ message }}                   <!-- この行と -->
    <div v-text="message"></div>    <!-- この行は同じ意味 -->
</div>
<div id="app-2">
    <!--要素の属性を束縛（バインディング）する-->
    <!--この要素の title 属性を Vue インスタンスの message プロパティによって更新して保存する-->
    <span v-bind:title="message">
        Hover your mouse over me for a few seconds
        to see my dynamically bound title!
    </span>
</div>
<div id="app-3">
    <!-- v-ifディレクティブ -->
    <!-- seen がtrueだったらvalueを表示する-->
    <span v-if="seen">Now you see me</span>
</div>

<div id="app-4">
    <ol>
        <!-- v-forディレクティブで配列のデータを表示する-->
        <li v-for="todo in todos">
            {{ todo.text }}
        </li>
    </ol>
</div>


<script>
    const app = new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue!'
        }
    });
    var app2 = new Vue({
        el: '#app-2',
        data: {
            message: 'You loaded this page on ' + new Date().toLocaleString()
        }
    })
    var app3 = new Vue({
        el: '#app-3',
        data: {
            seen: true // falseにすると見えなくなる
        }
    })
    var app4 = new Vue({
        el: '#app-4',
        data: {
            todos: [
                { text: 'Learn JavaScript' },
                { text: 'Learn Vue' },
                { text: 'Build something awesome' }
            ]
        }
    })
</script>
</body>
</html>
